@font-face {
    font-family: 'Muli';
    src: url(/fonts/Muli.ttf);
}

@font-face {
    font-family: 'Playfair Display';
    src: url(/fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Inter';
    src: url(/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 190px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 43px;
}

.navlist{
    list-style-type: none;
}

.navitem{
display: inline-block;
margin-left: 34px;

}

.navitem1{
    display: inline-block;
    margin-left: 34px;
}

.navitem1 a{
    text-decoration: none;
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #202336;
}
.navitem a{
    text-decoration: none;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #B8BECD;

}

.navigation{
    display: flex;
    align-items: center;
}

.header-buttons{
    display: inline-block;
    margin-left: 34px;
}

.login-button{
width: 132px;
height: 44px;
border: 1px #FB8F1D solid;
border-radius: 8px;
color: #FB8F1D;
background-color: white;
transition: .4s;
cursor:  pointer;
margin-right: 18px;
font-family: 'Inter';
font-size: 15px;
font-weight: 500;
}

.login-button:hover{
    transform: scale(1.1);
}

.register-button{
    width: 132px;
    height: 44px;
    border: 1px #FB8F1D solid;
    border-radius: 8px;
    color: white;
    background-color: #FB8F1D;
    transition: .4s;
    cursor: pointer;
    font-family: 'Inter';
font-size: 15px;
font-weight: 400;
}
.register-button:hover{
    transform: scale(1.1);
}

/* Home section */

.home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.leftside h1 {
    width: 356px;
    height: 160px;
    font-family: 'Playfair Display';
    font-size: 64px;
    margin-bottom: 74px;
    color: #202336;
}

.leftside h2 {
    width: 155px;
    height: 27px;
    font-family: 'Inter';
    font-size: 22px;
    margin-bottom: 21px;
    color: #202336;
}

.stroke {
    width: 32px;
    height: 2px;
    border-radius: 4px;
    margin-bottom: 48px;
    background-color: #202336;
}

.selectors {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.selectors select {
    width: 220px;
    height: 52px;
    border: 0.8px, solid #AFB0B9; 
    border-radius: 6px;
    padding: 11px 110px 11px 21px;
    margin: 30px 15px 0px 0px;
    font-weight: 400;
    font-family: 'Inter';
    font-size: 15px;
    cursor: pointer;
    color: #4A4C53;
}

.explore-button {
    width: 180px;
    height: 52px;
    border: 1px #FB8F1D solid;
    border-radius: 8px;
    color: white;
    background-color: #FB8F1D;
    cursor: pointer;
    font-family: 'Muli';
font-size: 17px;
font-weight: 700; 
margin-top: 51px;  
}
.home-img {
   margin-top: 80px;
   margin-left: 147px;
}

/*second page*/

.second-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.secondpicture {
    margin-right: 102px;
    margin-top: 333px;
}

.rightside h2 {
    height: 100px;
    width: 481px;
    font-family: 'Playfair Display';
font-size: 36px;
font-weight: 700;
line-height: 50px;
text-align: left;
color: black; 
margin-top: 350px;
}

.rightside article {
    height: 120px;
    width: 450px;
    font-family: 'Muli';
font-size: 17px;
font-weight: 300;
line-height: 30px;
text-align: left;
color: #7D7987; 
margin-top: 20px;
}

.rightside button {
    width: 164px;
    height: 48px;
    border: 1px #FB8F1D solid;
    border-radius: 8px;
    color: white;
    background-color: #FB8F1D;
    cursor: pointer;
    font-family: 'Inter';
font-size: 16px;
font-weight: 600; 
margin-top: 33px;     
}

.element3 {
position: absolute;
left: 800px;
top: 200px;
}
.element2 {
    position: absolute;
    left: 250px;
    top: 450px;
}

.element {
    position: absolute;
    left: 875px;
    top: 750px;
}

.cross{
    position: absolute;
    left: 1020px;
    top: 1150px;
}

.circleelement {
    position: absolute;
    left: 1400px;
    top: 1530px;
}

/* third page */

.toppart h2 {
    font-family: 'Playfair Display';
    font-size: 36px;
    font-weight: 700;
    color: black;
    margin-bottom: 56px;
}

.toppart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 292px;
    margin-right: 40px;
}

.top-elements {
    display: inline-block;
margin-left:40px;
}

.top-arrow {
    margin-left: -650px;
    margin-top: -40px;
}

.container {
    display: flex;
    align-items: center;
}

.card {
    margin-left: 35px;
}

.container img {
    border-radius: 8px;
}

.intro {
    width: 120px;
    height: 56px;
    padding: 11px 20px 5px 0px;
    box-sizing: border-box;
    position: absolute;
    background: white;
    margin-top: -60px;
    border-radius:  0px 6px 0px 0px;;
}
.intro h3 {
    font-family: 'Inter';
    font-size: 17px;
    font-weight: 600;
    color: #042521;
    line-height: 25px;   
}
.intro p {
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 500;
    color: #80918e;
    line-height: 24px;    
}

.toppart a {
    text-decoration: none;
    width: 64px;
    height: 60px;
    font-family: 'Inter';
    font-size: 17px;
    font-weight: 600;
    color: #FB8F1D;
}

/*Fourth page*/

.fourthpage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.guides h2 {
    font-family: 'Playfair Display';
    font-size: 36px;
    font-weight: 700;
    color: black;
    height: 100px;
width: 450px;
margin-bottom: 20px;
margin-top: 322px;
}

.guides article {
    height: 90px;
    width: 450px;
font-family: 'Muli';
font-size: 17px;
font-weight: 300;
line-height: 30px;
text-align: left;
color: #7D7987; 
margin-bottom: 39px;
}

.guides button {
    width: 164px;
    height: 48px;
    border: 1px #FB8F1D solid;
    border-radius: 8px;
    color: white;
    background-color: #FB8F1D;
    cursor: pointer;
    font-family: 'Inter';
font-size: 16px;
font-weight: 600; 
}

.fourthpagepic {
    margin-left: 80px;
    margin-top: 230px;
}

/*Fifth page*/

.fifthpage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.quote h2 {
    font-family: 'Playfair Display';
    font-size: 36px;
    font-weight: 700;
    color: black;
    height: 50px;
width: 481px;
margin-bottom: 145px;
margin-top: 248px;
}

.quote img {
    margin-right: 15px;
}

.quote blockquote {
height: 144px;
width: 450px;
font-family: 'Muli';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
color: #000000;
margin-top: 30px;
margin-bottom: 40px;
}

.quote h3 {
    height: 48px;
width: 183px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 48px;
color: #000000;
margin-bottom: -13px;
}

.quote p {
    height: 48px;
width: 124px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 48px;
color: rgba(0, 0, 0, 0.85);
}

.person {
    margin-top: 358px;
}

.person img {
    border-radius: 10px ;
}

.person {
    display: flex;
    align-items: center;
    margin-left: 170px;
}

.person img {
    border-radius: 8px;
}

.person-intro {
    width: 170px;
    height: 60px;
    padding: 20px 0px 0px 30px;
    box-sizing: border-box;
    position: absolute;
    background: white;
    margin-top: -60px;
    border-radius:  16px 0px 0px 0px;
    margin-left: 230px;
}
.person-intro img {
    width: 90px;
    height: 90px;
    margin-left: -26px;
    margin-top: -26px;
    cursor: pointer;
}

/*Last page*/

.toplastpage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -20px;
    margin-top: 285px;
}

.top-elements-lastpage {
    display: inline-block;
margin-left:40px;
margin-right: 20px;
}
.toplastpage h2 {
    height: 50px;
width: 481px;
font-family: 'Playfair Display';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 50px;
color: #000000;
}

.toplastpage a {
    text-decoration: none;
    width: 64px;
    height: 60px;
    font-family: 'Inter';
    font-size: 17px;
    font-weight: 600;
    color: #FB8F1D;  
    margin-top: 46px;
}

.toplastpage img {
    margin-left: -570px;
    margin-top: 6px;   
}

.trending-stories {
    display: flex;
    align-items: center;
}

.story{
    margin-left: 35px;
}

.trending-stories img {
    border-radius: 0px;
    height: 233px;
width: 271px;
margin-top: 54px;
}

.trending-stories img {
    border-radius: 8px 8px 0px 0px;
}

.storyintro {
    height: 60px;
    width: 262px;
    padding: 14px 10px 28px 0px;
    box-sizing: border-box;
    position: absolute;
    background: white;
}
.storyintro h3 {
    font-family: 'Inter';
    font-size: 19px;
    font-weight: 700;
    color: black;
    line-height: 30px; 
    margin-bottom: 13px;  
}
.storyintro p {
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 400;
    color: #7D7987;
    line-height: 26px; 
    margin-bottom: 23px;   
}
.storyintro a {
    text-decoration: none;
    height: 28px;
width: 266px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 28px;
color: #FB8F1D;
}

/*footer*/

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    margin-top: 391px;
}
.footer-headlines {
    height: 60px;
width: 115px;
font-family: 'Muli';
font-style: normal;
font-weight: 750;
font-size: 19px;
line-height: 60px;
color: #000000;
}

.footerlist a{
    text-decoration: none;
    font-family: 'Muli';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 38px;
color: #848484;
}

.footerlist li{
    list-style-type: none;
}

.column1 {
    margin-right: 380px;
}

.column1 article {
    height: 84px;
width: 300px;
font-family: 'Muli';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 28px;
color: #848484;
margin-top: 26px;
}
.column1 p {
    height: 28px;
width: 390px;
font-family: 'Muli';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 28px;
color: #848484;
margin-top: 55px;
}

.column2 {
    margin-right: 50px;

}
.column3 {

        margin-right: 50px;
    
}

.footer div {
    width: 200px;
}

.sociallinks a{
    text-decoration: none;

}

.sociallinks li{
    list-style-type: none;
}

.footer2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 110px; 
    margin-left: 460px;  
}

.footeritem{
    display: inline-block;
    margin-left: 35px;
    
    }